@font-face {
  font-family: 'Universal';
  src: url("/public/fonts/OptimusPrinceps.ttf")
}

body {
  margin: 0;
  font-family: Universal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Universal;
}

.nav-logo {
  margin-right: 40px;
  height: 150px;
}

.home-introduction {
  font-size: 20px;
  font-family: Universal;
}
